article {
  padding: 0.5rem;
  /* Can use grid-gap for make a spacing in between/around */
  /* margin: 0.5rem; */
  background: #387af5;
  border-radius: 5px;
  color: white;
  width: 180px;
  height: 60px;
}

section {
  background: rgba(128, 128, 128, 0.164);
  padding: 1rem;
  border-radius: 5px;
}

/* Layout with Grid */
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  /* Can be use gap for add spacing between as alternative of margin and padding properties */
  grid-gap: 1rem;
}
